@import url('https://fonts.googleapis.com/css2?family=Solway:wght@300;400;500;700;800&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Solway', serif;
}

.container {
  width: 85vw;
  margin: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 32px 0;
  align-items: center;
}

.navbar-right {
  display: flex;
  gap: 47px;
}

.navlinks {
  display: flex;
  gap: 32px;
  align-items: center;
}

.navlinks a {
  text-decoration: none;
  color: black;
}

.navlinks .btn-register {
  background-color: black;
  color: white;
  padding: 4px 20px;
  border-radius: 32px;
}

.nav-icons {
  display: flex;
  gap: 16px;
  align-items: center;
}

.register-res {
  display: none;
}

@media (max-width: 700px) {
  .navbar-left img {
    width: 100px;
  }
  .navbar {
    flex-direction: column;
    gap: 12px;
  }
  .navbar-right {
    gap: 8px;
  }
  .navlinks {
    gap: 12px;
  }
  .navlinks a {
    font-size: 14px;
  }
  .navlinks .btn-register {
    display: none;
  }
  .navlinks.register-res {
    display: block;
  }
  .register-res {
    display: block;
  }
  .nav-icons {
    display: none;
  }
}
.hero {
  display: flex;
  justify-content: space-between;
}

.hero-left {
  max-width: 40%;
  padding: 12px 12px;
  border-radius: 5px;
  background-color: #c9cbff;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.hero-right img {
  max-width: 100%;
}

.hero-text1 h1,
.hero-text2 h1 {
  font-size: 32px;
  font-weight: 500;
}

@media (max-width: 1300px) {
  .hero-left {
    max-width: 30%;
  }
  .hero-text1 h1,
  .hero-text2 h1 {
    font-size: 24px;
    font-weight: 500;
  }
}

@media (max-width: 700px) {
  .hero-left {
    max-width: 100%;
  }
  .hero {
    gap: 12px;
    flex-direction: column;
  }
}

.stories {
  display: flex;
  justify-content: space-between;
  margin: 32px 0px;
}

.stories-left {
  width: 40%;
  padding: 12px 12px;
  border-radius: 5px;
  background-color: #d9d9d9;
}

.stories-left h1 {
  font-size: 32px;
  font-weight: 500;
}

.s-img {
  display: flex;
  gap: 44px;
}

@media (max-width: 700px) {
  .stories-left {
    width: 100%;
  }
  .stories {
    flex-direction: column;
  }
  .s-img {
    margin-top: 16px;
    gap: 11px;
    flex-direction: column;
  }
}
